.add_food_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
    padding-top: 50px;
    height: max-content;
}

.add_refrigrator_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
    padding-top: 50px;
}

.create_freezer_button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.label {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.button {
    text-align: center;
}

/* .foods-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 12px;
} */

.detail-card {
  position: relative;
  padding: 12px;
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  border-radius: 30px;
  margin-bottom: 5px;
}

.card-container {
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.food-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 220px) and (max-width: 510px) {
  .card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
  width: max-content;
}
.food-details {
    padding-left: 0px;
}
.freezer_card_content {
    padding: 0px !important;
}
.food-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.reminder{
  margin-right: 0px !important;
}
.saved_foods_container {
    margin-top: 20px;
    width: 90%;
    margin: auto;
    padding: 20px;
}
}
.delete_icon {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    color: red;
}

.freezers-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: #ccc 2px solid;
}

.freezer-title {
   text-align: center;
}

.saved_foods_container {
    margin-top: 20px;
    width: 50%;
    margin: auto;
    padding: 20px;
}
.saved-refrigrators_container {
    margin-top: 20px;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

.freezer-divider {
    margin-top: 20px;
    margin-bottom: 20px;
}
.freezer_delete_icon {
    cursor: pointer;
    color: red;
}

.freezer_card_content {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

    .fileUploadContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 150px;
    border: dashed 1px #979797;
    text-align: center;
    justify-content: center;
  
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-height: 100%;
      max-width: 100%;
    }
  
    .noImageContainet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 11px;
      button {
        font-size: 11px;
      }
    }

    .deleteButton{
        position: absolute;
        z-index: 10;
        top: -25px;
        inset-inline-end: -10px;
        opacity:50%
    }

    .fileInput {
        position: absolute;
        z-index: 9;
        opacity: 0;
        height: 100%;
        width: 100%;
        left: 0px;
        top: 0px;
        cursor: pointer;
    }
  }

  .food-image {
    display: block;
    max-height: 100px;
    max-width: 100px;
    border-radius: 50px;
    margin-top: 10px;

  }

  .download-container img {
    margin-right: auto;
    margin-left: auto;
    max-height: 100px;
    max-width: 100px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .food-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: max-content;
  }

  .download-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;    
    height: max-content;
  }

  .search-Container {
    display: flex;
    justify-content:right;
    margin-bottom: 20px;
  }

  .reminder {
    background-color: #ffcccc;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    margin-right: 20px;
  }