.container {
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: max-content;
    height: max-content;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
table {
    width: 100%;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.keyword {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.text{
  width: 100%;
}

textarea {
  white-space: pre;
}

.result-text {
  white-space: pre;
  font-family: monospace;
}

@media (min-width: 220px) and (max-width: 510px) {
  .container {
    width: auto;
    top: auto;
    left: auto;
    transform: none;
  }
}