
.toolbar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border: #ccc solid 1px;
   /*  width: max-content; */
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.routerLink {
    cursor: pointer;
}

.routerLink:hover {
    color: blue;
}

.smart-menu {
    display: none;
}

@media (min-width: 220px) and (max-width: 510px) {
  .toolbar {
    display: none;
  }
  .smart-menu {
    display:block;
}
}

@media (min-width: 510px) {
  .toolbar {
    width: max-content !important;
  }
}