.fileUploadContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 150px;
  border: dashed 1px #979797;
  text-align: center;
  justify-content: center;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
  }

  .noImageContainet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    button {
      font-size: 11px;
    }
  }

  .deleteButton {
    position: absolute;
    z-index: 10;
    top: -25px;
    inset-inline-end: -10px;
    opacity: 50%;
  }

  .fileInput {
    position: absolute;
    z-index: 9;
    opacity: 0;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    cursor: pointer;
  }
}

.food-image {
  display: block;
  max-height: 100px;
  max-width: 100px;
  border-radius: 50px;
  margin-top: 10px;
}

.download-container img {
  margin-right: auto;
  margin-left: auto;
  max-height: 100px;
  max-width: 100px;
  border-radius: 10px;
  margin-top: 10px;
}

.download-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: max-content;
}

.set-title-container,
.during-container,
.amount-container,
.aktion-details {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
}

.artikel-detail {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: max-content;
}

.artikel-title {
  text-align: center;
}

.detail-card {
  position: relative;
  padding: 12px;
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  border-radius: 30px;
  margin-bottom: 20px !important;
  width: 50%;
  margin: auto;
}

.search-Container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-right: 10px;
}

.delete_icon {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  color: red;
}

.png-icon {
  width: max-content;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.png-icon img {
  height: 100%;
  object-fit: contain;
}
.mat-icon.png-icon {
  width: max-content;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-left: 15px;
  font-size: 20px;
}

.reset-timer {
  margin-top: 10px;
  margin-left: 15px;
}

.copins {
  display: inline-block;
  margin-left: 0px;
  font-size: 20px;
  font-weight: bold;
}
.left-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.dauer-container,
.firstPrice_container,
.detail-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.gebot-button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.gebot-button button {
  border: 2px solid #1976d2;
}

@media (min-width: 220px) and (max-width: 510px) {
  .detail-card {
    width: 90%;
  }
}
